@charset "utf-8";

.about  {
  width: 100%;
  background-color: $primary-color;
  color: $light-color;
}

.about > .container {
  padding: 3rem 1.5rem;
  .about-title {
    margin-bottom: 2.5rem;
    h2 {
      font-size: 1.5rem;
      text-align: center;
      //opacity: 0;
      //transition: 1s;
    }
  }
  .about-body {
    display: flex;
    flex-direction: column;
    text-align: center;
    .about-image {
      margin: 0 auto;
      margin-bottom: 3rem;
      width: 100%;
      max-width: 350px;
    }
  }
}

.about-image-figure {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-top: 100%;
  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    border-radius: 5px;
  }
}

@media screen and (min-width: $medium) {
  .about > .container {
  
    .about-title {
      h2 {
        font-size: 2rem;
      }
    }
    .about-body {
      flex-direction: row;
      text-align: left;
      .about-image {
        min-width: 350px;
        margin: 0;
        margin-right: 3rem;
      }
    }
  }
}
