@charset "utf-8";

$container-gap: 32px;

.container {
  position: relative;
  flex-grow: 1;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

@media screen and (min-width: $medium) {
  .container {
    width: $medium - (2 * $container-gap);
  }
}

@media screen and (min-width: $large) {
  .container {
    width: $large - (2 * $container-gap);
  }
}
