@charset "utf-8";

/* breakpoints */
$small: 768px;
$medium: 992px;
$large: 1200px;

/* colors */
$primary-color: hsl(217, 71%, 53%);
$dark-color: hsl(0, 0%, 21%);
$light-color: hsl(0, 0%, 96%);
$text-color: $dark-color;
$link-color: $text-color;
$link-hover-color: $primary-color;

/* typography */
$font-size-normal: 1rem; 


