@charset "utf-8";

.contacts {
  text-align: center;
  
  &-title {
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
    //opacity: 0;
    //transition: 1s;
  }
  
  &-email {
    font-size: 1.25rem;
    a {
      text-decoration: none;
      color: $light-color;
      font-weight: 550;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  &-list {
    display: flex;
    justify-content: center;
    &-item {
      margin: 1rem 2rem 2rem 2rem;
      text-decoration: none;
      font-size: 1.8rem;
      color: $light-color;
      &:hover {
        transform: scale(1.2, 1.2);
        color: $light-color;
      }
    }
  }
  
  &-footer {
    font-size: 0.75rem;
  }
  
}

@media screen and (min-width: $medium) {
  .contacts {
  
    &-title {
      font-size: 2rem;
    }
    
  }
}
