@charset "utf-8";

.hero {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: $light-color;
  padding-bottom: 1rem;
  flex-direction: column;
  justify-content: space-between;
  
  &-head {
  }
  
  &-body {
    text-align: center;
    padding: 0 3rem;
    .hero-body-title {
      font-size: 2.5rem;
      opacity: 0;
      transform: translateX(10px);
      transition: opacity 1s, transform 1s;
    }
    .hero-body-subtitle {
      line-height: 1.5rem;
      opacity: 0;
      transform: translateX(-10px);
      transition: opacity 1s 0.5s, transform 1s 0.5s;
      margin-bottom: 3rem;
    }
    .hero-body-action {
      opacity: 0;
      transform: translateX(-10px);
      transition: opacity 1s 0.5s, transform 1s 0.5s;
    }
  }
  
  &-footer {
    text-align: center;
    opacity: 0;
    transition: opacity 1s 1s;
    a {
      text-decoration: none;
    }
  }
}

@media screen and (min-width: $medium) {
  .hero {
    &-body {
      padding: 0 6rem;
      text-align: left;
      .hero-body-title {
        font-size: 4rem;
      }
    }
  }
}
